* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



/* Jorge */


.text-container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    padding: 0rem;
    max-width: 1200px;
    margin: 8%;

    @media screen and (min-width:430px) and (max-width:932px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}


.title {
    font-family: "Kodchasan", serif;
    font-size: 2rem;
    font-weight: bold;
    padding: none;
    color: #256100;
    margin: 0%;
    margin-left: -1%;
}


.name {
    font-family: "Kodchasan", serif;
    font-size: 5rem;
    font-weight: bold;
    padding: none;
    margin: -2%;
    color: #256100;

    @media screen and (min-width:430px) and (max-width:932px) {
        font-size: 3rem;
    }
}


.slogan {
    font-family: "Kodchasan", serif;
    font-size: 1rem;
    font-weight: bold;
    padding: none;
    margin: 0%;
    color: #88BF4B;
    margin-left: 17%;

    @media screen and (min-width:430px) and (max-width:932px) {
        font-size: 14px;
        margin-left: 0%;
    }
}


.container2 {
    font-family: "Kodchasan", serif;
    font-size: 1rem;
    font-weight: none;
    padding: none;
    color: #256100;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    margin: 7% 10% 0% 10%;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

    @media screen and (min-width:430px) and (max-width:932px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
    }
}

.description {
    margin: 5% 3% 5% 3%;

}

.container2 img {
    width: 38%;
    border-radius: 8px;
    object-fit: contain;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

    @media screen and (min-width:430px) and (max-width:932px) {
        width: 90%;
        border-radius: 10px;
        margin-bottom: 5%;
    }
}

.equipe h3 {
    font-family: "Kodchasan", serif;
    font-size: 1.5rem;
    font-weight: none;
    padding: none;
    color: #256100;
    text-align: center;
    padding: 2%;

    @media screen and (min-width:430px) and (max-width:932px) {
        font-size: 1rem;
        padding: 5%;
    }
}


.display-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    gap: 1%;

    @media screen and (min-width:430px) and (max-width:932px) {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        align-items: center;
    }
}

.display-container img {
    width: 25%;
    height: 25%;
    padding: 1%;
    object-fit: cover;
    border-radius: 20px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

    @media screen and (min-width:430px) and (max-width:932px) {
        width: 90%;
        height: 90%;
        border-radius: 15px;
        margin-left: 6%;

    }
}

.photo-barista img {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    padding: 1%;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

    @media screen and (min-width:430px) and (max-width:932px) {
        width: 80%;
        height: 80%;
    }
}

.photo-barista {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.container-description {
    font-family: "Kodchasan", serif;
    font-size: 1rem;
    font-weight: none;
    padding: none;
    color: #256100;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    margin: 7% 10% 0% 10%;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

    @media screen and (min-width:430px) and (max-width:932px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        border-radius: 20px;
}
}

.container-description img {
    width: 50%;
    border-radius: 10px;
    object-fit: fill;

    @media screen and (min-width:430px) and (max-width:932px) {
        width: 90%;
        border-radius: 10px;
        margin-bottom: 5%;
}
}

.container-description2 {
    font-family: "Kodchasan", serif;
    font-size: 1rem;
    font-weight: none;
    padding: none;
    color: #256100;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    margin: 7% 10% 0% 10%;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

    @media screen and (min-width:430px) and (max-width:932px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        padding: 15px;
        border-radius: 20px;
}

}

.container-description2 img {
    width: 50%;
    border-radius: 8px;
    object-fit: fill;

    @media screen and (min-width:430px) and (max-width:932px) {
        width: 90%;
        border-radius: 10px;
        margin-bottom: 5%;
}
}

.container4 {
    font-family: "Kodchasan", serif;
    font-size: 2rem;
    font-weight: none;
    padding: none;
    color: #256100;
    text-align: center;
    margin-top: 10%;

    @media screen and (min-width:430px) and (max-width:932px) {
     font-size: 1rem;
}
}

.liste-title {
    font-family: "Kodchasan", serif;
    font-size: 1rem;
    font-weight: none;
    padding: 2%;
    color: #256100;
    text-align: center;
}

.liste {
    font-family: "Kodchasan", serif;
    font-size: 1rem;

    font-weight: none;
    padding-bottom: 10%;
    color: #256100;
    margin-left: 10%;
    margin-right: 10%;
}

