/* COMMUN */
*{
    font-family: kodchasan;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header, footer{
    background-color: #4D7F27;
    padding: 0px;
}
body{
    background-image: url(../images/body-bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}
.haut-de-page{
    text-align: center;
    color: #256100;
    font-weight: 700;
    font-size: 30px;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color:#FFF;
  height: 100%;
  padding: 0 20px;
  text-align: center;
}
nav li:first-child {
    margin-right: auto;
}
nav input{
    padding-left: 10px;
    padding-right: 10px;
}
  
a:hover {
    color: black;
    transition: 0.8s;
}
  
.box {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 30px;
    align-items: center;
}
  
.box:hover input {
    width: 150px;
    background: #fff;
    border-radius: 30px;
    height: 30px;
}
  
.box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
  
.box a .fa {
    color: #4D7F27;
    font-size: 18px;
}

nav {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav img {
    min-width: 60%;
    height: 80px;
    object-fit: cover;
}

/* CONTACT */
#contact-form{
    display: flex;
    flex-direction: column;
    margin: 8vw;
    background-color: #e3f6e5;
    border-style: solid;
    border-color: #CCC;
    border-width: 1px;
    border-radius: 20px;
    font-weight: 700;
}
.contact-form-space{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
.contact-form-space label{
    align-content: center;
}
.contact-nom-prenom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px; 
    margin: 20px;
}
.contact-np-inside{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.contact-left-column{
    font-size: larger;
}
#confidentialité, #contact-button{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}
#contact-first-row{
    margin-top: 50px;
}
#contact-button{
    text-align: center;
}
.bouton{
    background-color: #4D7F27;
    color:#FFF;
    border-radius: 25px;
    font-family: kodchasan;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    height: 50px;
    width: 250px;
    border: none;
}
.bouton:hover{
    background-color: #FFF;
    color:#4D7F27;
}
#msg{
    resize: none;
    height: 100px;
}
.contact-right-column{
    border: 1px solid #CCC;
    border-radius: 20px;
    padding: 10px;
}



@media screen and (max-width:950px) and (min-width:500px) {
    #contact-form{
        margin: 4vw;
    }
    .contact-form-space{
        margin-left: 1vw;
        margin-right: 1vw;
    }
}
@media screen and (max-width:500px) {
    #contact-form{
        margin:2vw;
    }
    .contact-form-space,#confidentialité, #contact-button{
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .contact-left-column,#confidentialité{
        font-size: 4vw;
    }
    .contact-right-column{
        font-size: 4vw;
        padding: 1vw;
        padding-left: 10px;
    }
    #contact-first-row{
        margin-top: 8vw;
    }
    .bouton{
        width: 200px;
        height: 40px;
    }
}